:root {
	--back-color: #000;
	--white-text: #fff;
	--item-color: #313131;
	--item-color-active: #737373;
	--action-button-text-color: #000;
	--action-button-text-color-active: #000;
	--action-button-back-color: #a0a0a0;
	--action-button-back-color-active: #d9d9d9;
	--ac-text-color: #fff;
	--ac-text-color-active: #FCFBF6;
	--ac-back-color: #fea00c;
	--ac-back-color-active: #f1c796;
	--shadow-color: #1f1f1f1e;
}

.switcher {
	filter: invert(0);
}

.switcher__radio {
	filter: invert(0);
}

.switcher__radio:checked {
	filter: invert(1);
}

.switcher__status {
	filter: invert(0);
}